@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">@Resources.Scottybons.ScottybonsDataStrings.Error</h1>
<h2 class="text-danger">@Resources.Scottybons.ScottybonsDataStrings.AnErrorOccurredwhileProcessingYourRequest</h2>

