

<div class="container">
    <div class="row col-xs-offset-2 tab_footer_fullwith">

        <div class=" col-sm-3 col-xs-12 col-md-4 tab_footer">
            <h3>INFO</h3>
            <ul class="list-unstyled">
                <li><a href=@Url.Content("/#Tell-us-aboutyourself")>How does it work</a></li>
                <li><a href=@Url.Content("/FAQPAGE")>Frequently asked questions</a></li>
                <li><a href=@Url.Content("/generalconditions")>General conditions</a></li>
                <li><a href=@Url.Content("/PrivacyPolicy")>Privacy policy</a></li>
                <li><a href=@Url.Content("/contactus")>Contact</a></li>
            </ul>
        </div>
        <div class=" col-sm-3 col-xs-12 col-md-4 tab_footer">
            <h3>Scottybons</h3>
            <ul class="list-unstyled">
                <li><a href=@Url.Content("/ourstory")> Our story</a></li>
                <li><a href=@Url.Content("/ourteam")>Our Team</a></li>
                <li><a href=@Url.Content("/Vacancies")>Vacancies</a></li>
                <li><a href=@Url.Content("/Press")>Press</a></li>
                <li><a href=@Url.Content("/Giftcard")>Giftcard</a></li>
            </ul>
        </div>
        <div class=" col-sm-3 col-xs-12 col-md-4 tab_footer">
            <h3>INSPIRATION</h3>
            <ul class="list-unstyled">
                <li><a href=@Url.Content("https://www.instagram.com/scottybons_/")> Instagram</a></li>
                <li><a href=@Url.Content("https://www.facebook.com/scottybons.nl/")>Facebook</a></li>
                <li><a href=@Url.Content("/StyleTips")>Style Tips</a></li>
                <li><a href=@Url.Content("/Reviews")>Reviews</a></li>
            </ul>
        </div>
    </div>
</div>

