
<div ng-controller="Umbraco.OrderController">
    <h1>Order Dashboard {{0+1}}</h1>
    <!--<div id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-exporter ui-grid-pagination ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-auto-resize></div>-->

    <div id="grid2" ng-grid="gridOptions" ui-grid-selection ui-grid-exporter ui-grid-pagination ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-auto-resize></div>

    <h4>UI GRID</h4>
    <div id="grid1" ui-grid="gridOptions"></div>
</div>
<!--<script type="text/ng-template" id="ngTemplate/infoPopup.html" ng-controller="ChildCtrl">
    <div class="modal-header">
        <h2>Customer Order Details</h2>
    </div>
    <div>
        <div id="CustomerGrid" ui-grid="gridOptions" class="gridTable" ui-grid-exporter ui-grid-selection ui-grid-resize-columns></div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary btnCustom" ng-click="ok()">OK</button>
        @*<button class="btn btn-primary btnCustom" ng-click="cancel()">Cancel</button>*@
    </div>
</script>-->
