@using ScottybonsMVC.Models.ViewModels.Customer
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "ScottyBonsMaster.cshtml";
}

@section BodyContent {
<section id="top-menu">
    <div id="register-top_no_menu">
    </div>
</section>
    
    @Html.Partial("Account/_ResetPasswordConfirmation", new ResetPasswordConfirmationModel())
}