<?xml version="1.0" encoding="utf-8" ?>
<memberExport>
  <!--Umbraco V7 introduced membership API properties, most of them you don't want to export -->
  <excludeProperties>
    <!--Fixed Properties-->
    <exclude alias="__memberCreatedBy"/>
    <exclude alias="__memberType"/>
    <exclude alias="__memberGroups"/>
    <!--Dynamic Properties-->
    <exclude alias="umbracoFailedPasswordAttemptsPropertyTypeAlias"/>
    <exclude alias="umbracoApprovePropertyTypeAlias"/>
    <exclude alias="umbracoLockPropertyTypeAlias"/>
    <exclude alias="umbracoMemberFailedPasswordAttempts"/>
    <exclude alias="umbracoMemberLastLockout"/>
    <exclude alias="umbracoMemberLastPasswordChange"/>
    <exclude alias="umbracoMemberApproved"/>
    <exclude alias="umbracoMemberLockedOut"/>
    <exclude alias="umbracoMemberLastLockoutDate"/>
    <exclude alias="umbracoMemberLastPasswordChangeDate"/>

    <exclude alias="umbracoMemberFailedPasswordAttempts"/>
    <exclude alias="umbracoMemberApproved"/>
    <exclude alias="umbracoMemberLockedOut"/>
    <exclude alias="umbracoMemberLastLockoutDate"/>
    <exclude alias="umbracoMemberLastLogin"/>
    <exclude alias="umbracoMemberLastPasswordChangeDate"/>
    <exclude alias="umbracoMemberPasswordRetrievalAnswer"/>
    <exclude alias="umbracoMemberPasswordRetrievalQuestion"/>
  </excludeProperties>
  <!-- If you use a custom membership provider using the default Umbraco membership tables you can configure it below
  <supportedMemberAPIProviders>
    <provider typeName="Customproviders.members.membershipprovider"/>
  </supportedMemberAPIProviders>-->
</memberExport>
