@using ScottybonsMVC.AppConstants
@model ScottybonsMVC.Models.ViewModels.Customer.ForgetPasswordConfirmationModel
@{

    var forgotPasswordConfirmationModel = Model;
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();

}
<section id="container">
    <div class="row" style="margin:0px;">
        @if (TempData["ResetPasswordError"] == null || !string.IsNullOrEmpty(ViewBag.ResetPasswordError))
        {

            <div class="col-sm-12  text-center forgotpassword-confrm">

                <h4>@Resources.Scottybons.ScottybonsDataStrings.ForgotPasswordConfirmationModel_Forget_Password_Confirmation_ForgetPasswordConFirmation</h4>
            </div>
        }
        else
        {

            <div class="col-sm-12  text-center forgotpassword-confrm">
                <br />
                <h2>@Html.LabelFor(m => Model.Somethingwentwrong) <a href=@Url.Content(GlobalConstants.LanguageUrl+"/account/forgotpassword")> @Html.LabelFor(m => Model.clickhere) </a> @Html.LabelFor(m => Model.Tonaviagateforgotpassword)</h2>
            </div>
        }
    </div>
    <div style="margin-top:30px;"></div>
</section>
